{% extends "chat_app/main.html" %}
{% load static %}
{% block body %}
{% include "messages.html" %}
  <main class="layout layout--3">
    <div class="container">
      <!-- Topics Start -->
      <div class="topics">
        <div class="topics__header">          
          <h2>Browse Topics</h2>
        </div>
        <ul class="topics__list">
          <li><a href="{% url 'filter_room' action="all" %}" class="active">All <span>553</span></a></li>
          <li><a href="{% url 'filter_room' action="my_created_rooms" %}">Your created rooms <span>553</span></a></li>
          <li><a href="/">joined rooms <span>553</span></a></li>
        </ul>
        <a class="btn btn--link" href="topics.html">More</a>
      </div>
      <!-- Topics End -->

      <!-- Room List Start -->
      <div class="roomList">
        <div class="mobile-menu">
          <form class="header__search">
            <label>
              <i class="fa-brands fa-searchengin"></i><input placeholder="Search for posts" />
            </label>
          </form>
          <div class="mobile-menuItems">
            <a class="btn btn--main btn--pill" href="{% url 'filter_room_mobile' %}">Browse Topics</a>
            <a class="btn btn--main btn--pill" href="{% url 'recent_activity' %}">Recent Activities</a>
          </div>
        </div>
        <div class="roomList__header">
          <div>
            <h2>Study Room</h2>
            <p>7,439 Rooms available</p>
          </div>
          <a class="btn btn--main" href="{% url 'create_room' %}">
            Create Room
          </a>
        </div>
    {% if rooms %}
    {% for room in rooms %}
        <div class="roomListRoom">
                <div class="roomListRoom__header">
                <a href="{% url 'profile' profile_id=room.host_profile.id %}" class="roomListRoom__author">
                    <div class="avatar avatar--small">
                    {% if room.host_profile.profile_image %}
                      <img src="{{ room.host_profile.profile_image.url }}" />
                    {% else %}
                      <img src="{% static 'images/default.jpeg' %}" alt="User Profile Image">
                    {% endif %}
                    </div>
                    <span>{{ room.host }}</span>
                    <p> (host) </p>
                </a>
                <div class="roomListRoom__actions">
                    <span>5 days ago</span>
                </div>
                </div>
                <div class="roomListRoom__content">
                <a href="{% url 'room' room_id=room.id %}" style="color:#a3bb99;">{{ room.name }}</a>
                <p>
                   {{ room.description }}
                </p>
                </div>
                <div class="roomListRoom__meta">
                <a href="room.html" class="roomListRoom__joined"><i class="fa-solid fa-user-group"></i>5.3k Joined</a>
                <a href="{% url 'video-stream' %}">
                  <p class="roomListRoom__topic">join</p>
                </a>
                {% if request.user == room.host %}
                  <a href="{% url 'edith_room' room_id=room.id %}">
                    <p class="roomListRoom__topic">edith</p>
                  </a>
                  <a href="{% url 'delete_room' room_id=room.id %}">
                    <p class="roomListRoom__topic">delete</p>
                  </a>
                {% endif %}
                </div>
                </div>
            {% endfor %}
            {% else %}
                <h1> no rooms currently. create one </h1>
            {% endif %}
            </div>
            <!-- Room List End -->

      <!-- Activities Start -->
      <div class="activities">
        <div class="activities__header">
          <h2>Recent Activities</h2>
        </div>
        <div class="activities__box">
          <div class="activities__boxHeader roomListRoom__header">
            <a href="profile.html" class="roomListRoom__author">
              <div class="avatar avatar--small">
                <img src="https://randomuser.me/api/portraits/women/11.jpg" />
              </div>
              <p>
                @sulamita_ivy
                <span>5 days ago</span>
              </p>
            </a>
            <div class="roomListRoom__actions">
              <a href="#">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                  <title>remove</title>
                  <path
                    d="M27.314 6.019l-1.333-1.333-9.98 9.981-9.981-9.981-1.333 1.333 9.981 9.981-9.981 9.98 1.333 1.333 9.981-9.98 9.98 9.98 1.333-1.333-9.98-9.98 9.98-9.981z"
                  ></path>
                </svg>
              </a>
            </div>
          </div>
          <div class="activities__boxContent">
            <p>replied to post “<a href="room.html">100 Days of code challenge!</a>”</p>
            <div class="activities__boxRoomContent">
              I’ll have to try this sometime. Really like this idea. Wanna talk about it? I ‘m....
            </div>
          </div>
        </div>

        <div class="activities__box">
          <div class="activities__boxHeader roomListRoom__header">
            <a href="profile.html" class="roomListRoom__author">
              <div class="avatar avatar--small active">
                <img src="https://randomuser.me/api/portraits/men/13.jpg" />
              </div>
              <p>
                @mr_spshuvo
                <span>5 days ago</span>
              </p>
            </a>
            <div class "roomListRoom__actions">
              <a href="#">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                  <title>remove</title>
                  <path
                    d="M27.314 6.019l-1.333-1.333-9.98 9.981-9.981-9.981-1.333 1.333 9.981 9.981-9.981 9.98 1.333 1.333 9.981-9.98 9.98 9.98 1.333-1.333-9.98-9.98 9.98-9.981z"
                  ></path>
                </svg>
              </a>
            </div>
          </div>
          <div class="activities__boxContent">
            <p>replied to post “<a href="room.html">100 Days of code challenge!</a>”</p>
            <div class="activities__boxRoomContent">
              I’ll have to try this sometime. Really like this idea. Wanna talk about it? I ‘m....
            </div>
          </div>
        </div>
      </div>
      <!-- Activities End -->
    </div>
  </main>
{% endblock %}
