{% extends "chat_app/main.html" %}
{% load static %}
{% block body %}
{% include "messages.html" %}
  <main class="profile-page layout layout--3">
    <div class="container">
      <!-- Topics Start -->
      <div class="topics">
        <div class="topics__header">
          <h2>Browse Topics</h2>
        </div>
        <ul class="topics__list">
          <li><a href="{% url 'filter_room' action="all" %}" class="active">All <span></span></a></li>
          <li><a href="{% url 'filter_room' action="my_created_rooms" %}">Your created rooms <span></span></a></li>
          <li><a href="{% url 'filter_room' action="active_rooms" %}">Active rooms <span>{{total_active_rooms}}</span></a></li>
        {% for category in categories %}
          <li><a href="/">{{category.name}} <span>232</span></a></li>
        {% endfor %}
        </ul>
        <a class="btn btn--link" href="topics.html">
          More
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
            <title>chevron-down</title>
            <path d="M16 21l-13-13h-3l16 16 16-16h-3l-13 13z"></path>
          </svg>
        </a>
      </div>
      <!-- Topics End -->

      <!-- Room List Start -->
      <div class="roomList">
        <div class="profile">
          <div class="profile__avatar">
            <div class="avatar avatar--large active">
            {% if request.user == profile.user %}
              {% if profile.profile_image %}
                <img src="{{ profile.profile_image.url }}" />
              {% else  %}
                <img src="{% static 'images/default.jpeg' %}" alt="User Profile Image">
              {% endif %}
            {% else %}
              {% if profile.profile_image %}
                <img src="{{ profile.profile_image.url }}" />
              {% else  %}
                <img src="{% static 'images/default.jpeg' %}" alt="User Profile Image">
              {% endif %}
            {% endif %}
            </div>
          </div>
          <div class="profile__info">
            <h3> first name: {{ profile.first_name }}</h3>
            <h3>last name: {{ profile.last_name }}</h3>
            <p>{{ profile.email }}</p>
            {% if request.user == profile.user %}
              <a href="{% url 'edith_profile' %}" style="color: black;" class="btn btn--main btn--pill">Edit Profile</a>
            {% endif %}
          </div>
          <div class="profile__about">
            <h3 style="font-size: 25px;">About</h3>
            <p>
              {{profile.bio}}
            </p>
          </div>
        </div>

        <div class="roomList__header">
          <div>
            {% if request.user == profile.user %}
              <h2 style="color: black; font-size: 20px;">Study Rooms Hosted by you </h2>
            {% else %}
              <h2>Study Rooms Hosted by {{ profile.first_name }}
            {% endif %}
          </div>
        </div>
        {% if rooms %}
        {% for room in rooms %}
            <div class="roomListRoom">
                    <div class="roomListRoom__header">
                    <a href="{% url 'profile' profile_id=room.host_profile.id%}" class="roomListRoom__author">
                        <div class="avatar avatar--small">
                    {% if request.user == profile.user %}
                      {% if profile.profile_image %}
                          <img src="{{ profile.profile_image.url }}" />
                      {% else %}
                        <img src="{% static 'images/default.jpeg' %}" alt="User Profile Image">
                      {% endif %}
                    {% else %}
                      {% if profile.profile_image %}
                        <img src="{{ profile.profile_image.url }}" />
                      {% else %}
                        <img src="{% static 'images/default.jpeg' %}" alt="User Profile Image">
                      {% endif %}
                    {% endif %}
                        </div>
                        <span>{{ room.host.first_name }}</span>
                        <p> (host) </p>
                    </a>
                    <div class="roomListRoom__actions">
                        <span>{{ room.updated }}</span>
                    </div>
                    </div>
                    <div class="roomListRoom__content">
                    <a href="{% url 'join_video-stream' room_id=room.id %}" style="color:black;">{{ room.name }} ({{ roo.topic }})</a>
                    <p>
                       {{ room.description }}
                    </p>
                    </div>
                    <div class="roomListRoom__meta">
                    <a href="room.html" class="roomListRoom__joined" style="color: black;"><i class="fa-solid fa-user-group"></i>{{ members_count }} Joined</a>
                    <a href="{% url 'join_video-stream' room_id=room.id %}">
                      <p class="roomListRoom__topic" style="color: black;">join</p>
                    </a>
                    {% if request.user == room.host %}
                      <a href="{% url 'edith_room' room_id=room.id %}">
                        <p class="roomListRoom__topic" style="color: black;">edith</p>
                      </a>
                      <a href="{% url 'delete_room' room_id=room.id %}">
                        <p class="roomListRoom__topic" style="color: black;">delete</p>
                      </a>
                    {% endif %}
                    </div>
                    </div>
                {% endfor %}
                {% else %}
                    <h1> no rooms currently. create one </h1>
                {% endif %}
                </div>
                <!-- Room List End -->
      <!-- Activities Start -->
      <div class="activities">
        <div class="activities">
          <div class="activities__header">
            <h2>Are you studying? you should.</h2>
          </div>
      </div>
      <!-- Activities End -->
    </div>
  </main>
{% endblock %}
