{% extends "dash_board/main2.html" %}

{% block title %} dashboard {% endblock %}
{% block content %}
{% include 'messages.html' %}

<div class="card_header">Add {{ card.title }} cards</div>
<div class="add_container">
    <h1>Add Item</h1>
    <form action="" method="POST"> {% csrf_token %}
        <div class="form-group">
            <label for="question">Question:</label>
            <textarea id="question" name="question" rows="4" placeholder="can be left blank"></textarea>
        </div>
        <button type="submit" class="btn" name="action" value="save">Save</button>
        <button type="submit" class="btn" name="action" value="save_add">Save/Add</button>
    </form>
</div>
{% endblock %}
